{% extends "error.jinja" %}

{% set error_code = "404" %}
{% set error_title = "Page Not Found" %}
{% set error_message = "Sorry, the page you are looking for does not exist or has been moved." %}
{% set bg_color = "[#FEF2F2]" %}
{% set border_color = "[#DC2626]" %}
{% set text_color = "[#DC2626]" %}
