{% extends "error.jinja" %}

{% set error_code = "500" %}
{% set error_title = "Internal Server Error" %}
{% set error_message = "Oops! Something went wrong on our end. Please try again later or contact support if the problem persists." %}
{% set bg_color = "[#FDE68A]" %}
{% set border_color = "[#F59E42]" %}
{% set text_color = "[#F59E42]" %}
