{% extends "error.jinja" %}

{% set error_code = "429" %}
{% set error_title = "Rate Limit Exceeded" %}
{% set error_message = "You have made too many requests in a short period. Please wait a minute and try again.<br>If you believe this is an error, contact support." %}
{% set bg_color = "[#FEE2E2]" %}
{% set border_color = "[#DC2626]" %}
{% set text_color = "[#DC2626]" %}
